{{ $color := .Site.Params.color | default "stone" }}
{{ $gray := .Site.Params.gray | default "stone" }}
{{ $type := .type | default "outline" }}

{{ $baseClass := "w-full px-4 py-4 rounded-xl border" }}

{{ $typeClass := "" }}
{{ $icon := "" }}
{{ $iconColor := "" }}

{{ if eq $type "outline" }}
  {{ $typeClass = printf "border-%s-200 bg-%s-50 text-%s-700 dark:border-%s-700 dark:bg-%s-800 dark:text-%s-300" $gray $gray $gray $gray $gray $gray }}
  {{ $icon = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z' /></svg>" }}
  {{ $iconColor = printf "text-%s-500 dark:text-%s-400" $gray $gray }}
{{ else if eq $type "info" }}
  {{ $typeClass = "border-blue-200 bg-blue-50 text-blue-800 dark:border-blue-700 dark:bg-blue-900 dark:text-blue-200" }}
  {{ $icon = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z' /></svg>" }}
  {{ $iconColor = "text-blue-500 dark:text-blue-400" }}
{{ else if eq $type "warning" }}
  {{ $typeClass = "border-yellow-200 bg-yellow-50 text-yellow-800 dark:border-yellow-700 dark:bg-yellow-900 dark:text-yellow-200" }}
  {{ $icon = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z' /></svg>" }}
  {{ $iconColor = "text-yellow-500 dark:text-yellow-400" }}
{{ else if eq $type "error" }}
  {{ $typeClass = "border-red-200 bg-red-50 text-red-800 dark:border-red-700 dark:bg-red-900 dark:text-red-200" }}
  {{ $icon = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z' /></svg>" }}
  {{ $iconColor = "text-red-500 dark:text-red-400" }}
{{ else if eq $type "success" }}
  {{ $typeClass = "border-green-200 bg-green-50 text-green-800 dark:border-green-700 dark:bg-green-900 dark:text-green-200" }}
  {{ $icon = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z' /></svg>" }}
  {{ $iconColor = "text-green-500 dark:text-green-400" }}
{{ end }}

<!-- Alert component -->
<div
  class="{{ $baseClass }} {{ $typeClass }}"
  role="alert"
  aria-live="polite"
>
  <div class="flex gap-3">

    <!-- Alert icon -->
    <div class="flex-shrink-0 pt-0.5">
      <div class="h-5 w-5 {{ $iconColor }}" aria-hidden="true">
        {{ $icon | safeHTML }}
      </div>
    </div>

    <!-- Alert content -->
    <div class="flex-1 space-y-2">

      {{ if .title }}
        <div class="font-semibold leading-tight">
          {{ .title }}
        </div>
      {{ end }}

      {{ if .text }}
        <div class="text-sm leading-relaxed">
          {{ .text | markdownify }}
        </div>
      {{ end }}

    </div>

  </div>
</div>